<div class="internal-consultations-page  container">

  <!-- بحث -->
  <div class=" d-flex justify-content-end my-2">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="ابحث عن رقم الملف أو الاسم"
        (input)="onFilterChange($event)" />
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>

  <!-- جدول النتائج (PrimeNG) -->
  <p-table #table [value]="filteredConsultations" [rows]="rowsPerPage" [scrollable]="true"
    [showCurrentPageReport]="true" responsiveLayout="scroll" class="custom-table">
    <ng-template pTemplate="header">
      <tr>
        <th>رقم ملف المريض</th>
        <th>نوع الاستشارة</th>
        <th>الطبيب المحال إليه</th>
        <th>النتيجة</th>
        <th>اسم الطبيب</th>
        <th>الملف المرفق</th>
        <th>إجراءات</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-c>
      <tr>
        <td>{{ c.applicantFileNumber || '-' }}</td>
        <td>{{ c.consultationType || '-' }}</td>
        <td>{{ c.referredDoctor || '-' }}</td>
        <td>
          <span [ngClass]="{
            'badge bg-success': c.result === 'مقبول',
            'badge bg-danger': c.result === 'مرفوض',
            'badge bg-warning text-dark': c.result === 'مؤجل'
          }">{{ c.result || '-' }}</span>
        </td>
        <td>{{ c.doctor?.fullName || '-' }}</td>
        <td>
          @if(c.attachment){
          <button type="button" class="btn btn-sm btn-outline-secondary" title="فتح الملف"
            (click)="openFile(c.attachment)">
            <i class="bi bi-file-earmark-text me-1"></i>
            فتح الملف
          </button>
          }
          @else {
          <span>لا يوجد ملف</span>
          }
        </td>
        <td class="text-center">
          <button type="button" class="btn btn-sm btn-primary" title="اضافة نتيجة" (click)="openEditConsultation(c)">
            <i class="bi bi-pencil-square me-1"></i>
            اضافة نتيجة
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center">لا توجد استشارات</td>
      </tr>
    </ng-template>
  </p-table>

  <app-paginator [totalRecords]="totalRecords" [pageSize]="rowsPerPage" [currentPage]="page"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
  </app-paginator>
  <!-- مودال التعديل -->
  <!-- <app-edit-consultation
    *ngIf="selectedConsultation"
    [consultation]="selectedConsultation"
    (dialogClosed)="onDialogClose($event)">
  </app-edit-consultation> -->

</div>