<div class="internal-exams-page container-fluid mt-2">
  <div class=" d-flex justify-content-end">
    <div class="search-wrapper mb-2 ">
      <input type="text" class="search-input" placeholder="ابحث عن رقم الملف أو الاسم"
        (input)="onFilterChange($event)" />
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>


  <!-- جدول النتائج (PrimeNG) -->
  <p-table #table [value]="filteredExams" [rows]="rowsPerPage" [totalRecords]="totalRecords" class="custom-table">
    <ng-template pTemplate="header">
      <tr>
        <th>رقم الملف</th>
        <th>القلب</th>
        <th>التنفس</th>
        <th>الجهاز الهضمي</th>
        <th>الغدد الصماء</th>
        <th>الأعصاب</th>
        <th>الدم</th>
        <th>المفاصل</th>
        <th>الكلى</th>
        <th>السمع</th>
        <th>البشرة</th>
        <th>السبب</th>
        <th>النتيجة</th>
        <th>إجراءات</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-exam>
      <tr>
        <td>{{ exam.applicantFileNumber }}</td>
        <td>{{ exam.heart }}</td>
        <td>{{ exam.respiratory }}</td>
        <td>{{ exam.digestive }}</td>
        <td>{{ exam.endocrine }}</td>
        <td>{{ exam.neurology }}</td>
        <td>{{ exam.blood }}</td>
        <td>{{ exam.joints }}</td>
        <td>{{ exam.kidney }}</td>
        <td>{{ exam.hearing }}</td>
        <td>{{ exam.skin }}</td>
        <td>{{ exam.reason || '-' }}</td>
        <td>
          <span [ngClass]="getBadgeClass(exam.result)">{{ exam.result?.description }}</span>
        </td>
        <td class="text-center">
            <i class="pi pi-pen-to-square" title="تعديل" (click)="openEditDialog(exam)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <app-loading [isLoading]="loading"></app-loading>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="14" class="text-center">لا توجد فحوصات داخلية.</td>
    </tr>
  </ng-template>
  <!-- Pagination -->
  <app-paginator [totalRecords]="totalRecords" [pageSize]="rowsPerPage" [currentPage]="page"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
  </app-paginator>


  <!-- مودال التعديل -->
  <app-edit-internal-exam-component *ngIf="selectedExam" [exam]="selectedExam" (dialogClosed)="onDialogClose($event)">
  </app-edit-internal-exam-component>

</div>