<div class="internal-exams-page container mt-2">
  <div class=" d-flex justify-content-end">
    <div class="search-wrapper mb-2 ">
      <input type="text" class="search-input" placeholder="ابحث عن رقم الملف أو الاسم"
        (input)="onFilterChange($event)" />
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>


  <!-- جدول النتائج (PrimeNG) -->
  <p-table #table [value]="filteredExams" [rows]="rowsPerPage" [totalRecords]="totalRecords" class="custom-table">
    <ng-template pTemplate="header">
      <tr>
        <th>رقم الملف</th>
        <th>النتيجة</th>
        <th>السبب</th>
        <th>إجراءات</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-exam>
      <tr>
        <td>{{ exam.applicantFileNumber }}</td>
        <td>
          <span [ngClass]="getBadgeClass(exam.result)">
            {{ exam.result?.description || 'غير محدد' }}
          </span>
        </td>
        <td>{{ exam.reason || '-' }}</td>
        <td class="text-center">
          <div class="action-buttons">
            <button 
              type="button" 
              class="btn-icon-action" 
              pTooltip="عرض التفاصيل"
              tooltipPosition="top"
              (click)="viewDetails(exam)">
              <i class="pi pi-eye"></i>
            </button>
            <button 
              type="button" 
              class="btn-icon-action" 
              pTooltip="تعديل الفحص"
              tooltipPosition="top"
              (click)="openEditDialog(exam)">
              <i class="pi pi-pen-to-square"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center">لا توجد فحوصات داخلية.</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Pagination -->
  <app-paginator [totalRecords]="totalRecords" [pageSize]="rowsPerPage" [currentPage]="page"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
  </app-paginator>


  <!-- مودال التعديل -->
  <app-edit-internal-exam-component *ngIf="selectedExam" [exam]="selectedExam" (dialogClosed)="onDialogClose($event)">
  </app-edit-internal-exam-component>

  <!-- مودال التفاصيل -->
  <div class="modal-backdrop" *ngIf="selectedExamDetails" (click)="closeDetailsModal()">
    <div class="modal-content-details" (click)="$event.stopPropagation()">
      <app-internal-exam-details [exam]="selectedExamDetails" (close)="closeDetailsModal()"></app-internal-exam-details>
    </div>
  </div>

</div>