<aside class="sidebar" [class.collapsed]="collapsed">
  <div class="sidebar-header">
    <div class="logo">
      <img src="assets/images/syr.svg" alt="Logo" class="logo-img">
    </div>
  </div>

  <ul class="menu">

    <!-- Reception -->
    @if (role === 'Receptionist') {
      <li routerLink="/reception/applicants/add">
        <i class="pi pi-user-plus"></i>
        <span>إضافة منتسب</span>
      </li>
      <li routerLink="/reception/applicants">
        <i class="pi pi-users"></i>
        <span>قائمة المنتسبين</span>
      </li>
     
    }

    <!-- Admin -->
    @if (role === 'Admin') {
      <li routerLink="admin/dashboard">
        <i class="pi pi-chart-line"></i>
        <span>الإحصائيات</span>
      </li>
      <li routerLink="admin/final">
        <i class="pi pi-users"></i>
        <span>قائمة المنتسبين</span>
      </li>
    }

    @if (role === 'Diwan') {
      <li routerLink="archive">
        <i class="pi pi-users"></i>
        <span> الديوان</span>
      </li>
    }
    <!-- Doctor Eye -->
    @if (role === 'Doctor_Eye') {
      <li routerLink="/doctor/eye">
        <i class="pi pi-eye"></i>
        <span> الفحص العيني  إجراءات </span>
      </li>
      <li routerLink="/doctor/eye/deferred">
        <i class="pi pi-file"></i>
        <span> الفحص العيني </span>
      </li>
       <li routerLink="/doctor/eye/consultations">
        <i class="pi pi-file"></i>
        <span> الاستشارات التخصصية  </span>
      </li>
       <li routerLink="/doctor/eye/investigations">
        <i class="pi pi-file"></i>
        <span> الاستقصاءات الشعاعية والمخبرية </span>
      </li>
    
    }

    <!-- Doctor Internal -->
    @if (role === 'Doctor_Internal') {
      <li routerLink="/doctor/internal">
        <i class="pi pi-stethoscope"></i>
        <span>إجراءات الفحوصات الباطنية   </span>
      </li>
      <li routerLink="/doctor/internal/medications">
        <i class="pi pi-medkit"></i>
        <span>الفحص  الباطني    </span>
      </li>
       <li routerLink="/doctor/internal/consultations">
    <i class="pi pi-clock"></i>
    <span> الاستشارات التخصصية </span>
  </li>
  <li routerLink="/doctor/internal/investigations">
    <i class="pi pi-clock"></i>
    <span> الاستقصاءات الشعاعية والمخبرية </span>
  </li>
    }

   <!-- Doctor Orthopedics -->
@if (role === 'Doctor_Orthopedics') {
  <li routerLink="/doctor/orthopedics">
    <i class="pi pi-heart"></i>
    <span>  إجراءات الجراحة العظمية </span>
  </li>
  <li routerLink="/doctor/orthopedics/deferred">
    <i class="pi pi-refresh"></i>
    <span>فحص الجراحة العظمية </span>
  </li>
  <li routerLink="/doctor/orthopedics/consultations">
    <i class="pi pi-stethoscope"></i>
    <span> الاستشارات التخصصية </span>
  </li>
  <li routerLink="/doctor/orthopedics/investigations">
    <i class="pi pi-flask"></i>
    <span> الاستقصاءات الشعاعية والمخبرية </span>
  </li>
}


<!-- Doctor Surgery -->
@if (role === 'Doctor_Surgery') {
  <li routerLink="/doctor/surgery">
    <i class="pi pi-cut"></i>
    <span>إجراءات الجراحية للمريض</span>
  </li>
  <li routerLink="/doctor/surgery/records">
    <i class="pi pi-file"></i>
    <span> الفحص الجراحي</span>
  </li>
  <li routerLink="/doctor/surgery/consultations">
    <i class="pi pi-comments"></i>
    <span>الاستشارات التخصصية  </span>
  </li>
  <li routerLink="/doctor/surgery/investigations">
    <i class="pi pi-search"></i>
    <span> الاستقصاءات الشعاعية والمخبرية </span>
  </li>
}


    <!-- Supervisor -->
    @if (role === 'Supervisor') {
      
      <li routerLink="supervisor">
        <i class="pi pi-chart-line"></i>
        <span>تقييم المنتسب</span>
      </li>
       <li routerLink="/reception/applicants">
        <i class="pi pi-users"></i>
        <span>قائمة المنتسبين</span>
      </li>
     
    }

  </ul>
</aside>
