<div class="filter-bar">
  <div class="filter-bar__extras">
    <ng-content select="[extra-filters]"></ng-content>
  </div>

  <div class="filter-bar__controls">
    @if (showReset) {
      <app-reset-filters-button [disabled]="disabled || loading" (reset)="reset.emit()"></app-reset-filters-button>
    }
    <span class="p-input-icon-right filter-bar__search-wrap">
      <i class="pi pi-search" aria-hidden="true"></i>
      <input
        pInputText
        type="text"
        class="filter-bar__search-input"
        [disabled]="disabled || loading"
        [value]="searchValue"
        [placeholder]="searchPlaceholder"
        (input)="onSearchInput($event)"
      />
    </span>
  </div>
</div>
