<div class="user-header-section px-1 pt-1 container-fluid">
  <!-- العنوان -->
  <h3 class="title">الاستشارات التخصصية</h3>

  <!-- البحث -->
  <div class="mb-3 d-flex justify-content-end">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="ابحث عن رقم الملف أو الاسم"
        (input)="onFilterChange($event)" />
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>

  <!-- جدول النتائج -->
  <p-table [value]="filteredConsultations" [paginator]="false" [rows]="10" [totalRecords]="totalRecords" [lazy]="true"
    [showCurrentPageReport]="true" class="custom-table">

    <!-- الهيدر -->
    <ng-template pTemplate="header">
      <tr>
        <th>رقم ملف المريض</th>
        <th>نوع الاستشارة</th>
        <th>الطبيب المحال إليه</th>
        <th>اسم الطبيب</th>
        <th>النتيجة</th>
        <th>الملف المرفق</th>
        <th>إجراءات</th>
      </tr>
    </ng-template>

    <!-- الصفوف -->
    <ng-template pTemplate="body" let-c>
      <tr>
        <td>{{ c.applicantFileNumber }}</td>
        <td>{{ c.consultationType }}</td>
        <td>{{ c.referredDoctor }}</td>
        <td class="text-center">{{ c.doctor?.fullName || '-' }}</td>
        <td>
          <span class="badge result-badge">
            {{ c.result || 'غير محدد' }}
          </span>
        </td>

        <td class="text-center">
          @if(c.attachment){

          <button title="عرض الملف" class="btn btn-sm btn-info btn-small" (click)="openFile(c.attachment)">
            <i class="fas fa-eye small-icon"></i>
          </button>
          }@else {
          <button title="إضافة/تعديل" class="btn btn-sm btn-success btn-small">
            <i class="fas fa-pencil-alt small-icon"></i>
          </button>
          }
        </td>




        <td class="text-center">
          <button type="button" class="btn btn-sm btn-success btn-small" title="إضافة نتيجة"
          (click)="openEditConsultation(c)">إضافة نتيجة
          </button>
        </td>

      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center">لا توجد استشارات</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- المـُـرقم -->
  <app-paginator [totalRecords]="totalRecords" [pageSize]="rowsPerPage" [currentPage]="page"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
  </app-paginator>

  <!-- مودال التعديل -->
  <!-- <app-edit-consultation
    *ngIf="selectedConsultation"
    [consultation]="selectedConsultation"
    (dialogClosed)="onDialogClose($event)">
  </app-edit-consultation> -->
</div>