<div class="user-header-section px-1 pt-1 container-fluid">
  <!-- البحث -->
  <div class="mb-3 d-flex justify-content-end">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="ابحث عن رقم الملف أو الاسم"
        (input)="onFilterChange($event)" />
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>

  <!-- جدول النتائج -->
  <p-table [value]="filteredConsultations" [rows]="rowsPerPage" [totalRecords]="totalRecords" [lazy]="true"
    [loading]="loading" [showCurrentPageReport]="true" class="custom-table">

    <ng-template pTemplate="header">
      <tr>
        <th>رقم ملف المريض</th>
        <th>نوع الاستشارة</th>
        <th>الطبيب المحال إليه</th>
        <th>اسم الطبيب</th>
        <th>النتيجة</th>
        <th>الملف المرفق</th>
        <th>إجراءات</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-c>
      <tr>
        <td><span class="fw-bold text-primary">{{ c.applicantFileNumber }}</span></td>
        <td><span class="fw-bold">{{ c.consultationType }}</span></td>
        <td><span class="fw-bold">{{ c.referredDoctor }}</span></td>
        <td><span class="fw-bold">{{ c.doctor?.fullName || '-' }}</span></td>
        <td>
          <span [ngClass]="getBadgeClass(c.result)">
            {{ c.result || 'غير محدد' }}
          </span>
        </td>
        <td>
          <div class="btn-group-vertical d-flex gap-1 justify-content-center">
            <!-- يظهر الزر فقط إذا كان هناك ملف مرفق -->
            <button *ngIf="c.attachment" title="عرض الملف" class="btn btn-sm btn-info" (click)="openFile(c.attachment)">
              <i class="fas fa-eye"></i>
            </button>
        
            <!-- إذا ما فيه ملف، تظهر أيقونة ثابتة -->
            <i *ngIf="!c.attachment" class="fas fa-eye no-file-icon"></i>
          </div>
        </td>
        
        <td>
          <button title="/تعديل" class="btn btn-sm btn-primary" (click)="openEditConsultation(c)">
            <i class="fas fa-edit"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center">لا توجد استشارات</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- المـُـرقم -->
  <app-paginator [totalRecords]="totalRecords" [pageSize]="rowsPerPage" [currentPage]="page"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
  </app-paginator>
</div>
