<div class="user-header-section px-1 pt-1 container-fluid">
  <!-- البحث -->
  <div class="mb-3 d-flex justify-content-start">
    <div class="search-wrapper">
      <input
        type="text"
        class="search-input"
        placeholder="ابحث عن رقم الملف أو الاسم"
        (input)="onFilterChange($event)"
      />
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>

  <!-- جدول النتائج -->
  <p-table
    [value]="filteredConsultations"
    [rows]="rowsPerPage"
    [totalRecords]="totalRecords"
    class="custom-table compact-table"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 120px">رقم ملف المريض</th>
        <th style="width: 130px">نوع الاستشارة</th>
        <th style="width: 130px">الطبيب المحال إليه</th>
        <th style="width: 120px">اسم الطبيب</th>
        <th style="width: 100px">النتيجة</th>
        <th style="width: 90px">الملف المرفق</th>
        <th style="width: 80px">إجراءات</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-c>
      <tr>
        <td>
          <span class="fw-bold small">{{ c.applicantFileNumber }}</span>
        </td>
        <td>
          <span class="fw-bold small">{{ c.consultationType }}</span>
        </td>
        <td>
          <span class="fw-bold small">{{ c.referredDoctor }}</span>
        </td>
        <td>
          <span class="fw-bold small">{{ c.doctor?.fullName || '-' }}</span>
        </td>
        <td>
          <span class="small">
            {{ c.result || 'غير محدد' }}
          </span>
        </td>
<td class="text-center">
          @if(c.attachment){
                <i class="bi bi-folder2-open me-1" title="فتح الملف"
                (click)="openFile(c.attachment)"></i>
            }
            @else {
            <span>لا يوجد ملف</span>
            }
        </td>

        <td class="text-center">
          <i class="pi pi-pen-to-square" title="إضافة نتيجة"
          (click)="openEditConsultation(c)"></i>

          <!-- <i class="pi pi-pen-to-square icon"
           (click)="openEditConsultation(c)" title="تعديل"></i> -->
        </td>
      </tr>
    </ng-template>


  </p-table>
  <app-loading [isLoading]="loading"></app-loading>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7" class="text-center py-2 small">لا توجد استشارات</td>
    </tr>
  </ng-template>
  <!-- المـُـرقم -->
  <app-paginator
    [totalRecords]="totalRecords"
    [pageSize]="rowsPerPage"
    [currentPage]="page"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
  >
  </app-paginator>
</div>
