<div class=" container ">

  <!-- بحث -->
  <div class=" d-flex justify-content-end" >
    <div class="search-wrapper my-2">
      <input type="text" class="search-input" placeholder="ابحث عن رقم الملف أو الاسم"
        (input)="onFilterChange($event)" />
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>


  <!-- جدول النتائج (PrimeNG) -->
  <p-table #table [value]="filteredExams" [rows]="rowsPerPage" [scrollable]="true"
           [showCurrentPageReport]="true" responsiveLayout="scroll" class="custom-table">
    <ng-template pTemplate="header">
      <tr>
        <th>رقم الملف</th>
        <th>عام</th>
        <th>مسالك</th>
        <th>أوردة</th>
        <th>صدر</th>
        <th>السبب</th>
        <th>النتيجة</th>
        <th>إجراءات</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-exam>
      <tr>
        <td>{{ exam.applicantFileNumber }}</td>
        <td>{{ exam.generalSurgery }}</td>
        <td>{{ exam.urinarySurgery }}</td>
        <td>{{ exam.vascularSurgery }}</td>
        <td>{{ exam.thoracicSurgery }}</td>
        <td>{{ exam.reason || '-' }}</td>
        <td>
          <span [ngClass]="getBadgeClass(exam.result)">{{ exam.result?.description }}</span>
        </td>
        <td class="text-center">
          <button type="button" class="btn btn-sm btn-primary" title="تعديل"
                  (click)="openEditDialog(exam)">
            <i class="bi bi-pencil-square me-1"></i>
            تعديل
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center">لا توجد فحوص جراحية</td>
      </tr>
    </ng-template>
  </p-table>

  <app-paginator [totalRecords]="totalRecords" [pageSize]="rowsPerPage" [currentPage]="page"
                 (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
  </app-paginator>

  <!-- رسالة عدم وجود بيانات -->
  <div *ngIf="!loading && filteredExams.length === 0" class="alert alert-info text-center mt-3">
    لا توجد فحوص جراحية
  </div>

  <!-- مودال التعديل -->
  <app-edit-surgical-exam
    *ngIf="selectedExam"
    [exam]="selectedExam"
    (dialogClosed)="onDialogClose($event)">
  </app-edit-surgical-exam>

</div>
