<div class="internal-investigations eye-investigations deferred-exams-page container">

  <div class=" d-flex justify-content-end mb-2">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="ابحث عن رقم الملف أو الاسم"
        (input)="onFilterChange($event)" />
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>


  <!-- جدول النتائج (PrimeNG) -->
  <p-table #table [value]="filteredInvestigations" [rows]="rowsPerPage" [scrollable]="true" [showCurrentPageReport]="true"
  class="custom-table">
    <ng-template pTemplate="header">
      <tr>
        <th>رقم الملف</th>
        <th>نوع التحليل</th>
        <th>النتيجة</th>
        <th>الحالة</th>
        <th>الطبيب</th>
        <th>الملف المرفق</th>
        <th>إجراءات</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i>
      <tr>
        <td>{{ i.applicantFileNumber || '-' }}</td>
        <td>{{ i.type || '-' }}</td>
        <td>{{ i.result || '-' }}</td>
        <td>
          <span [ngClass]="getBadgeClass(i.status)">{{ i.status || '-' }}</span>
        </td>
        <td>{{ i.doctor?.fullName || '-' }}</td>
        <td>
          @if(i.attachment){
          <button type="button" class="btn btn-sm btn-outline-secondary" title="فتح الملف"
            (click)="openFile(i.attachment)">
            <i class="bi bi-file-earmark-text me-1 bx"></i>
            فتح الملف
          </button>
          }@else {
            <span>لا يوجد ملف</span>
          }

        </td>
        <td class="text-center">
          <i class="pi pi-pen-to-square" title="إضافة نتيجة"
          (click)="openEditInvestigation(i)"></i>
          <!-- <button type="button" class="btn btn-sm btn-primary" title="اضافة نتيجة" (click)="openEditInvestigation(i)">
            <i class="bi bi-pencil-square me-1 bx"></i>
            اضافة نتيجة
          </button> -->
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center">لا توجد تحاليل</td>
      </tr>
    </ng-template>
  </p-table>


  <app-paginator [totalRecords]="totalRecords" [pageSize]="rowsPerPage" [currentPage]="page"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
  </app-paginator>

  <!-- مودال التعديل -->
  <!-- مودال التعديل -->
  <!-- <app-edit-investigation 
    *ngIf="selectedInvestigation" 
    [investigation]="selectedInvestigation" 
    (dialogClosed)="onDialogClose($event)">
  </app-edit-investigation> -->


</div>