<div class=" container mt-4">

  <div class="mb-3 d-flex justify-content-end">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="ابحث عن رقم الملف أو الاسم"
        (input)="onFilterChange($event)" />
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>

  <!-- جدول الاستقصاءات -->
  <p-table #table 
           [value]="filteredInvestigations" 
           [totalRecords]="totalRecords" 
           [rows]="rowsPerPage" 
           [sortMode]="'multiple'" 
           class="custom-table">

    <ng-template pTemplate="header">
      <tr>
        <th>رقم الملف</th>
        <th>الطبيب</th>
          <th> نوع التحليل</th>
            <th> الحالة</th>
                    <th>النتيجة</th>
        <th>الملف المرفق</th>
        <th>إجراءات</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-i>
      <tr>
        <td>{{ i.applicantFileNumber || '-' }}</td>
        <td>{{ i.doctor?.fullName || '-' }}</td>
        <td>{{ i.type || '-' }}</td>
        <td>{{ i.status || '-' }}</td>
           <td>
          <span >{{ i.result || '-' }}</span>
        </td>
        <td class="text-center">
          @if(i.attachment){
            <button type="button" class="btn btn-sm btn-outline-secondary" title="فتح الملف"
                (click)="openFile(i.attachment)">
                <i class="bi bi-file-earmark-text me-1"></i>
                فتح الملف
            </button>
            }
            @else {
            <span>لا يوجد ملف</span>
            }
        </td>
     
        <td class="text-center">
          <button type="button" class="btn btn-sm btn-outline-secondary" title="إضافة نتيجة"
          (click)="openEditInvestigation(i)">
          <i class="pi pi-pen-to-square"></i>
            إضافة نتيجة
      </button>
          <!-- <button title="إضافة نتيجة"
                  class="btn btn-sm btn-success"
                  (click)="openEditInvestigation(i)">
            <i class="fas fa-pencil-alt"></i>
          </button> -->
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center">لا توجد تحاليل</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- المرقم -->
  <app-paginator [totalRecords]="totalRecords"
                 [pageSize]="rowsPerPage"
                 [currentPage]="page"
                 (pageChange)="onPageChange($event)"
                 (pageSizeChange)="onPageSizeChange($event)">
  </app-paginator>


</div>
