<!-- المودال -->
<div class="modal-backdrop" *ngIf="showModal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">

    <!-- الهيدر -->
    <div class="modal-header">
      <h5 class="modal-title">إضافة فحص باطني </h5>
      <button type="button" class="btn-close ms-0 me-auto" (click)="closeModal()"></button>
    </div>


    <!-- البودي -->
    <div class="modal-body">
      <form [formGroup]="examForm" (ngSubmit)="onSubmit()" novalidate>

        <!-- القسم الأول: الأجهزة -->
        <h6 class="section-title">الأجهزة المستخدمة</h6>
        <div class="row g-3">
          <div class="col-md-4" *ngFor="let field of examFields">
            <label class="form-label">{{ field.label }} <span class="text-danger">*</span></label>
            <input type="text" class="form-control"
                   [formControlName]="field.control"
                   [class.is-invalid]="examForm.get(field.control)?.invalid && examForm.get(field.control)?.touched"
                   placeholder="أدخل {{ field.label }}"/>
          </div>
        </div>

        <!-- القسم الثاني: نتيجة الفحص -->
        <h6 class="section-title mt-4">نتيجة الفحص</h6>
        <div class="row g-3">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">النتيجة</label>
              <select class="form-select" formControlName="resultID">
                <option value="" disabled selected>اختر النتيجة</option>
                <option *ngFor="let r of results" [value]="r.id">{{ r.description }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">السبب (اختياري)</label>
              <textarea class="form-control" formControlName="reason" rows="3"
                        placeholder="يمكنك كتابة السبب إن وجد"></textarea>
            </div>
          </div>
        </div>

        <!-- الأزرار -->
        <div class="text-end mt-4">
          <button  type="submit" class="btn btn-success px-4"  [disabled]="examForm.invalid">
            حفظ <i class="bi bi-check-circle"></i>
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
