<div class=" container-fluid">
  <div class=" d-flex justify-content-end">
    <div class="search-wrapper my-2">
      <input type="text" class="search-input" placeholder="ابحث عن رقم الملف أو الاسم"
        (input)="onFilterChange($event)" />
    </div>
  </div>

  <!-- ✅ جدول PrimeNG مع خصائص التقليب -->
  <p-table #table [value]="filteredConsultations" [rows]="rowsPerPage" [sortMode]="'multiple'" class="custom-table"
      [totalRecords]="totalRecords" >

      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="applicantFileNumber">رقم ملف المريض</th>
              <th pSortableColumn="consultationType">نوع الاستشارة</th>
              <th pSortableColumn="referredDoctor">الطبيب المحال إليه</th>
              <th pSortableColumn="result">النتيجة</th>
              <th pSortableColumn="doctor.fullName">اسم الطبيب</th>
              <th>الملف المرفق</th>
              <th>إجراءات</th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-c>
          <tr>
              <td>{{ c.applicantFileNumber || '-' }}</td>
              <td>{{ c.consultationType || '-' }}</td>
              <td>{{ c.referredDoctor || '-' }}</td>
              <td>
                  <span [ngClass]="{
                      'badge bg-success': c.result === 'مقبول',
                      'badge bg-danger': c.result === 'مرفوض',
                      'badge bg-warning text-dark': c.result === 'مؤجل'
                  }">{{ c.result || '-' }}</span>
              </td>
              <td>{{ c.doctor?.fullName || '-' }}</td>
              <td>
                  @if(c.attachment){
                      <i class="bi bi-folder2-open me-1" title="فتح الملف"
                      (click)="openFile(c.attachment)"></i>
                  }
                  @else {
                  <span>لا يوجد ملف</span>
                  }
              </td>
              <td class="text-center">
                <i class="pi pi-pen-to-square" title="إضافة نتيجة"
                (click)="openEditConsultation(c)"></i>

                  <!-- <button type="button" class="btn btn-sm btn-primary" title="اضافة نتيجة" (click)="openEditConsultation(c)">
                      <i class="bi bi-pencil-square me-1"></i>
                      اضافة نتيجة
                  </button> -->
              </td>
          </tr>
      </ng-template>



  </p-table>
  <app-loading [isLoading]="loading"></app-loading>
  <ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="7" class="text-center">لا توجد استشارات</td>
    </tr>
</ng-template>
  <app-paginator [totalRecords]="totalRecords" [pageSize]="rowsPerPage" [currentPage]="page"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
  </app-paginator>

</div>