<div class="orthopedic-exams-page deferred-exams-page container mt-4">

  <div class="mb-3 d-flex justify-content-end">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="ابحث عن رقم الملف أو الاسم"
        (input)="onFilterChange($event)" />
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>

  <p-table [value]="filteredExams" [rows]="rowsPerPage" [sortMode]="'multiple'" [scrollable]="true" class="custom-table"
    [totalRecords]="totalRecords">

    <ng-template pTemplate="header">
      <tr>
        <th>رقم ملف المنتسب</th>
        <th>الجهاز العضلي</th>
        <th>الجراحة العصبية</th>
        <th>النتيجة</th>
        <th>السبب</th>
        <th>إجراءات</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-exam>
      <tr>
        <td>{{ exam.applicantFileNumber }}</td>
        <td>{{ exam.musculoskeletal }}</td>
        <td>{{ exam.neurologicalSurgery }}</td>
        <td>
          <span [ngClass]="getBadgeClass(exam.result)">
            {{ exam.result?.description }}
          </span>
        </td>
        <td>{{ exam.reason || '-' }}</td>
        <td class="text-center">
          <button 
            type="button" 
            class="btn-icon-action" 
            pTooltip="تعديل الفحص"
            tooltipPosition="top"
            (click)="openEditDeferredOrthopedi(exam)">
            <i class="pi pi-pen-to-square"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center">لا توجد فحوص عظمية</td>
      </tr>
    </ng-template>

  </p-table>
  <app-paginator [totalRecords]="totalRecords" [pageSize]="rowsPerPage" [currentPage]="page"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
  </app-paginator>

</div>