<div class="user-header-section px-1 pt-1 container-fluid">
  <!-- بحث -->
  <div class="mb-3 d-flex justify-content-end">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="ابحث عن رقم الملف أو الاسم"
             (input)="onFilterChange($event)" />
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>

  <!-- جدول التحاليل -->
  <p-table #table 
           [value]="investigations" 
           [totalRecords]="totalRecords" 
           [rows]="rowsPerPage" 
           [lazy]="true"
           [sortMode]="'multiple'" 
           [showCurrentPageReport]="true" 
           class="custom-table">

    <ng-template pTemplate="header">
      <tr>
        <th>رقم الملف</th>
        <th>نوع التحليل</th>
        <th>النتيجة</th>
        <th>الحالة</th>
        <th>الملف المرفق</th>
        <th>الطبيب</th>
        <th>إجراءات</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-investigation>
      <tr>
        <td>{{ investigation.applicantFileNumber }}</td>
        <td>{{ investigation.type }}</td>
         <td>
          <span class="badge result-badge">
            {{ investigation.result || 'غير محدد' }}
          </span>
        </td>
        <td>{{ investigation.status || '-' }}</td>
        <td class="text-center">
          <button *ngIf="investigation.attachment" 
                  title="فتح الملف" 
                  class="btn btn-sm btn-info"
                  (click)="openFile(investigation.attachment)">
            <i class="fas fa-eye"></i>
          </button>
        </td>
        <td>{{ investigation.doctor?.fullName || '-' }}</td>
        <td class="text-center">
          <button title="إضافة/تعديل نتيجة" 
                  class="btn btn-sm btn-success" 
                  (click)="openEditInvestigation(investigation)">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center">لا توجد تحاليل</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- صفحة النتائج -->
  <app-paginator [totalRecords]="totalRecords" 
                 [pageSize]="rowsPerPage" 
                 [currentPage]="page"
                 (pageChange)="onPageChange($event)" 
                 (pageSizeChange)="onPageSizeChange($event)">
  </app-paginator>

</div>
