<header class="topbar">
  <div class="topbar-left">
    <button class="hamburger" (click)="toggleSidebar.emit()">
      <i class="fas fa-bars"></i>
    </button>
    <!-- <div class="search-box">
      <input type="text" placeholder="ابحث..." />
    </div> -->
  </div>

  <div class="topbar-right">
    <!-- <div class="user-profile" [title]="userRole">
      <img src="assets/images/syr.svg" alt="User" />
    </div> -->
<button class="btn btn-outline-danger btn-sm" (click)="logout()">
  <i class="bi bi-box-arrow-right"></i>
</button>
  </div>
</header>
