<div class="container mt-5" style="max-width: 400px;">

  <div class="text-center mb-4">
    <img src="assets/images/syr.svg" alt="Logo" class="login-logo">
  </div>

  <h3 class="text-center mb-4">تسجيل الدخول</h3>

  <form [formGroup]="loginForm">
    <!-- اسم المستخدم -->
    <div class="form-group mb-3">
      <label for="username" class="pb-2">اسم المستخدم</label>
      <input type="text" formControlName="username" class="form-control" id="username" required
             [class.is-invalid]="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
      <div class="invalid-feedback">
        {{ getFieldError('username') }}
      </div>
    </div>

   <!-- كلمة المرور -->
<div class="form-group mb-3">
  <label for="password" class="pb-2">كلمة المرور</label>
  <div class="input-group">
    <input 
      [type]="showPassword ? 'text' : 'password'" 
      formControlName="password"
      class="form-control"
      id="password"
      required
      [class.is-invalid]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" 
    />
    <span class="password-toggle-icon" (click)="togglePassword()" style="cursor:pointer">
      <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
    </span>
  </div>
  <div class="invalid-feedback">
    {{ getFieldError('password') }}
  </div>
</div>

    <div class="text-danger mb-3"></div>

    <button type="submit" class="btn btn-primary w-100" (click)="loging()">
      تسجيل
    </button>
  </form>
</div>
