<div class="orthopedic-consultations-page deferred-exams-page container mt-4">


  <div class="mb-3 d-flex justify-content-end">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="ابحث عن رقم الملف أو الاسم"
        (input)="onFilterChange($event)" />
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>

  <!-- جدول الاستشارات -->
  <p-table #table 
           [value]="filteredConsultations" 
           [totalRecords]="totalRecords" 
           [rows]="rowsPerPage" 
           [sortMode]="'multiple'" 
           class="custom-table">

    <ng-template pTemplate="header">
      <tr>
        <th>رقم الملف</th>
        <th>نوع الاستشارة</th>
        <th>سبب الإحالة</th>
        <th>اسم الطبيب</th>
        <th>النتيجة</th>
        <th>الملف المرفق</th> 
        <th>إجراءات</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-c>
      <tr>
        <td>{{ c.applicantFileNumber || '-' }}</td>
        <td>{{ c.consultationType || '-' }}</td>
        <td>{{ c.referralReason || '-' }}</td>
        <td>{{ c.doctor.fullName || '-' }}</td>
        <td>
          <span [ngClass]="getBadgeClass(c.result)">{{ c.result || '-' }}</span>
        </td>
        
        <td class="text-center">
          @if(c.attachment){
            <button type="button" class="btn btn-sm btn-outline-secondary" title="فتح الملف"
                (click)="openFile(c.attachment)">
                <i class="bi bi-file-earmark-text me-1"></i>
                فتح الملف
            </button>
            }
            @else {
            <span>لا يوجد ملف</span>
            }
        </td>
        
        <td class="text-center">
          <button type="button" class="btn btn-sm btn-outline-secondary" title="إضافة نتيجة"
          (click)="openEditDeferredOrthopedi(c)">
          <i class="pi pi-pen-to-square"></i>
            إضافة نتيجة
      </button>
          <!-- <button type="button" class="btn btn-sm btn-primary" title="اضافة نتيجة" (click)="openEditDeferredOrthopedi(c)">
            <i class="bi bi-pencil-square me-1"></i>
            اضافة نتيجة
        </button> -->
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center">لا توجد استشارات</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- المرقم -->
  <app-paginator [totalRecords]="totalRecords"
                 [pageSize]="rowsPerPage"
                 [currentPage]="page"
                 (pageChange)="onPageChange($event)"
                 (pageSizeChange)="onPageSizeChange($event)">
  </app-paginator>



</div>
