<div class="container mt-3">
  <!-- البحث عن المريض -->
  <div class="mb-3">
    <app-search-applicant (applicantSelected)="onApplicantSelected($event)"></app-search-applicant>
  </div>

  <!-- أزرار الإضافة -->
  <div *ngIf="selectedApplicant && !checkingEyeExam" class="button-group me-3 mb-3 d-flex gap-2">
    <!-- يظهر فقط إذا ما عنده فحص سابق -->
    <button 
      *ngIf="!hasEyeExam" 
      class="btn btn-outline-primary" 
      (click)="addEyeExam()">
      إضافة فحص عيني
    </button>

    <button class="btn btn-outline-primary" (click)="addConsultation()">طلب استشارة</button>
    <button class="btn btn-outline-primary" (click)="addInvestigation()">طلب تحليل</button>
  </div>

  <!-- المكونات -->
  <app-eye-exam-form
    *ngIf="selectedApplicant"
    [applicantFileNumber]="selectedApplicant.fileNumber"
    (examAdded)="onEyeExamAdded()">
  </app-eye-exam-form>

  <app-consultation-form
    *ngIf="selectedApplicant"
    [applicantFileNumber]="selectedApplicant.fileNumber">
  </app-consultation-form>

  <app-investigation-form
    *ngIf="selectedApplicant"
    [applicantFileNumber]="selectedApplicant.fileNumber">
  </app-investigation-form>
</div>
